# Python
__pycache__/
*.pyc
.venv/
*.egg-info/
dist/
build/

# Dependencies
node_modules/
uv.lock

# Output
output/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.cache/

# Environment
.env
.vercel
